<div class="EditCard">
    <div class="EditCard--Header">
        <h2>Income ID {{ id }}</h2>
        <button mat-icon-button (click)="closeCard()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="EditCard--Form">
        <label for="name">Name</label>
        <input disabled={{editCard}} type="text" placeholder="name" name="name" [(ngModel)]="name" required>
        <label for="amount">Amount</label>
        <input disabled={{editCard}} type="number" placeholder="amount" name="amount" [(ngModel)]="amount" required>
        <label for="category">Category</label>
        <input disabled={{editCard}} type="text" placeholder="category" name="category" [(ngModel)]="category" required>
        <label for="date">Date</label>
        <input disabled={{editCard}} type="date" placeholder="date" name="date" [(ngModel)]="date" required>
        <label for="mode">Mode</label>
        <input disabled={{editCard}} name="mode" type="text" placeholder="mode" [(ngModel)]="mode" required>
    </div>
    <div class="EditCard__Buttons">
        <button mat-raised-button (click)="editCard = false" *ngIf="editCard">Edit</button>
        <button class="EditCard--Form--Submit " type="submit" mat-raised-button (click)="update()"
            *ngIf="!editCard">Update</button>
        <button mat-raised-button (click)="deleteVal()">Delete</button>
    </div>

</div>