.IncomeCard{

    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;

    &--Header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        h2{
            margin: 0;
        }
        button{
            border: 0;
            background-color: transparent;
            cursor: pointer;
            color: #1c8adb !important;
            font-size: 1.5rem;
        }
    }
    

    &--Form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        input{
            width: 90%;
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid rgb(214, 143, 143);
            border-radius: 5px;
        }

        button{  
            width: 100%;
            padding: 10px;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
        }
        &--Submit{
            background-color: #1c8adb;
            color: #fff;
        }

    }
}