<div>
    <form>
        <input
            type="text"
            placeholder="name"
            name="name"
            [(ngModel)]="name"
            required
        >
        <input 
            type="number"
            placeholder="amount"
            name="amount"
            [(ngModel)]="amount"
        >
        <input 
            type="text"
            placeholder="category"
            name="category"
            [(ngModel)]="category"
        >
        <input
            type="date"
            placeholder="date"
            name="date"
            [(ngModel)]="date"
        >
        <input 
            name="mode"
            type="text"
            placeholder="mode"
            [(ngModel)]="mode"
        >
        <button
            type="submit"
            (click)="onSubmit()"
        >Submit</button>
    </form>
</div>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>Mode</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses">
                <td>{{expense.id}}</td>
                <td>{{expense.name}}</td>
                <td>{{expense.amount}}</td>
                <td>{{expense.category}}</td>
                <td>{{expense.date}}</td>
                <td>{{expense.mode}}</td>
            </tr>
        </tbody>
    </table>
</div>