<div class="home">
    <div>
        <form>
            <input
                type="text"
                placeholder="name"
                name="name"
                [(ngModel)]="name"
                required
            >
            <input 
                type="number"
                placeholder="amount"
                name="amount"
                [(ngModel)]="amount"
                required
            >
            <input 
                type="text"
                placeholder="category"
                name="category"
                [(ngModel)]="category"
                required
            >
            <input
                type="date"
                placeholder="date"
                name="date"
                [(ngModel)]="date"
                required
            >
            <input 
                name="mode"
                type="text"
                placeholder="mode"
                [(ngModel)]="mode"
                required
            >
            <button
                type="submit"
                (click)="onSubmit()"
            >Submit</button>
        </form>
    </div>
</div>
