.Expense{

    &__Container{
        margin: 10px;
        padding: 40px;
    }

    &__Card{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 500px;
        height: 500px;
        z-index: 9999;
        border-radius: 5px;
        box-shadow: 0 0 10px #ccc;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        button{
            background-color: #1c8adb;
        }

    }

    &__Buttonbar{
        display: flex;
        align-items: center;
        justify-content:flex-start;

        button{
            height: 40px;
            align-content: center;
            // background-color: #1c8adb;
            // border: 1px solid black;
            // border-radius: 20px;
        }
        margin-bottom: 30px;;

    }

}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}